{% extends "ecommerce/base.html" %}
{% block content %}
    <div class="border-top pt-3">
      <h2>You have been logged out</h2>
      <small class="text-muted">
        <a class="ml-2" href="{% url 'login' %}">Log in again</a>
      </small>
    </div>
{% endblock content %}
