body {
  background: #eee;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #159281;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.carrousel {
  bottom: 25px
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

a{
  text-decoration:none!important;
}

.card{
  margin-bottom: 35px!important;
  min-width: 250px;
  box-shadow: -webkit-box-shadow: 0px 10px 58px -35px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 58px -35px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 58px -35px rgba(0,0,0,0.75);
}
.home-content {
  padding-top: 50px;
}
.page-footer{
  background-color: #159281;
  color: white;
}
.page-footer h5{
  color: white !important;
}
.page-footer a{
  color: white !important;
}
.intro{
  padding-top: 50px;
}
