{% extends "ecommerce/base.html" %}
{% block content %}
<div class="card-deck">
  {% for product in products %}
  <div class="card">
    <img class="card-img-top" src="{{ product.author.profile.image.url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">
        <a class="article-title" href="{% url 'products:product-detail' product.id %}">{{ product.title }}</a>
      </h5>
      <p class="card-text">{{ product.price }}</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{ product.date_posted|date:"F d, Y" }}</small>
    </div>
  </div>
  {% endfor %}

</div>
{% endblock %}
