{% extends 'ecommerce/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<form method='POST'>
  {% csrf_token %}

  <div class="form-group">
    <label for="exampleFormControlInput1">  Product name </label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Producto" value="{{current_name}}">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">  Product description </label>
    <input type="text" class="form-control" id="description" name="description" placeholder="Description" value="{{current_description}}">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">  Price </label>
    <input type="text" class="form-control" id="price" name="price" placeholder="Price" value="{{current_price}}">
  </div>

  <div class="form-group">
    <label for="category">Category</label>
    <select class="form-control" id="category" name="category" >
      {% for val, name in form.fields.category.choices %}
      <option value="{{ val }}">{{ name }}</option>
      {% endfor %}
    </select>
  </div>


  <button type="submit" value="save" class="btn btn-primary">Submit</button>

</form>


<p>{{ object.description }}</p>
{% endblock %}
