{% extends "ecommerce/base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>Categories</h2>
      <ul>
        {% for val, name in CATEGORY_CHOICES %}
          {% if val == selected_category %}
            <li style="color:blue;">{{ val }}</li>
            {% else %}
            <li>{{ val }}</li>
            {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm-8">
      <div class="card-deck">
        {% for product in products %}
        <a class="card" href="{% url 'products:product-detail' product.id %}">
          <img class="card-img-top" src="{{ product.author.profile.image.url }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">
              {{ product.title }}
            </h5>
            <p class="card-text">{{ product.price }}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ product.date_posted|date:"F d, Y" }}</small>
          </div>
        </a>
        {% endfor %}

      </div>
    </div>
  </div>
</div>

{% endblock %}
