{% extends 'ecommerce/base.html' %}

{% block content %}
<h1>{{ object.title }}</h1>
<p>{{ object.description }}</p>
<a href="{% url 'products:purchase-create' pk=object.pk %}" class="btn btn-success" >Buy</a>
{% endblock %}
