{% extends 'ecommerce/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<form action="" method="POST">
  {% csrf_token %}
  <p>hola {{user}}</p>

  
  <div class="form-group">
    <label for="exampleFormControlInput1"> amount </label>
    <input type="text" class="form-control" id="amount" name="amount" placeholder="amount" value="{{current_amount}}">
  </div>



  <div class="form-group">
    <label for="pay_mode">Pay mode</label>
    <select class="form-control" id="pay_mode" name="pay_mode">
      {% for val, name in form.fields.pay_mode.choices %}
      <option value="{{ val }}">{{ name }}</option>
      {% endfor %}
    </select>
  </div>


  <button type="submit" value="save" class="btn btn-primary">Buy</button>

</form>


{% endblock %}
