{% extends 'ecommerce/base.html' %}
{% block content %}

<h3>My purchases</h3>
{% for instance in object_list %}
     <p>{{ forloop.counter }} - <a href='{{ instance.get_absolute_url }}'>{{ instance.product.title }}</a></p>
{% endfor %}


{% endblock %}
